.panel.panel-default
  = simple_form_for message do |f|
    .panel-body
      = f.input :content, label: false, placeholder: t('messages.new')
    .panel-footer.actions
      = f.button :submit, class: "button primary"
      %button.button.nolink.length 140
