= simple_form_for feed do |f|
  .row
    .col-xs-12.col-sm-8
      = f.input :url, as: :url, label: false, placeholder: t("feeds.add.fields.feed_url")
    .col-xs-12.col-sm-4
      = f.button :submit, class: "btn-primary btn-block"
