.col-xs-12.col-lg-8#stories
  .panel
    - if @feeds.blank?
      %h1 You Dont have any feeds! Add one!
      = content_tag :div, id: "add-some-feeds" do
        = render "feeds/form", feed: current_user.feeds.build
    - else
      = render @feeds
