.button {
  @extend .btn;

  &.nolink {
    color: $gray;
    cursor: default;
    font-weight: normal;
    border-radius: 0;

    &, &:active, &[disabled], fieldset[disabled] & {
      background-color: transparent;
      @include box-shadow(none);
    }

    &, &:hover, &:focus, &:active {
      border-color: transparent;
      background: white;
    }
  }

  &.link {
    @extend .btn-link;
    border: none;
  }

  &.length {
    pointer-events: none;
  }
}

.button.default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.button.primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.button.twitter {
  @include button-variant(white, $twitter, lighten($twitter, 5%));
}

.button.facebook {
  @include button-variant(white, $facebook, lighten($facebook, 5%));
}

.danger {
  button.nolink {
    color: #c0392b;
    border-color: #c0392b;
    border-radius: $border-radius-base;
  }
}
