.btn,
button,
input[type="submit"] {
  @extend .btn;
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-nolink {
  color: $gray;
  cursor: default;
  font-weight: normal;
  border-radius: 0;

  &, &:active,  &[disabled], fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }

  &, &:hover, &:focus, &:active {
    border-color: transparent;
    background: white;
  }
}


.btn-link {
  border: none;
}

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}