fieldset {
}

input[type="text"],
input[type="search"],
input[type="url"],
input[type="email"],
textarea {
  @extend .form-control;
}

.disabled {
  input[type="submit"] {
    @extend .disabled;
    @extend .mute;
  }
}

.danger {
  button {
    color: #c0392b;
    border-color: #c0392b;
    border-radius: $border-radius-base;
  }
}


label {
  abbr {
  }
}

textarea {
}

input[type="search"] {
}

input[type="checkbox"], input[type="radio"] {
}

input[type="file"] {
}

select {
}
