= div_for schedule, class: "row" do
  .col-xs-12.col-sm-3
    .btn-group-vertical.btn-block
      - Schedule::DAYS.each do |day|
        .ios-toggle-container
          .toggle
            %input.check{checked: schedule.checked?(day), type: "checkbox", data: {day: day.to_s, path: schedule_path(schedule, toggle: day)}}
            %b.b.switch
            %b.b.track
          .day= day.to_s
  .col-xs-12.col-sm-6
    .list-group
      = link_to t('schedule_time.new'), schedule_times_path(schedule), method: :post, class: "button btn-info btn-block"
    .list-group
      = render partial: "time", collection: schedule.schedule_times, locals: {schedule: schedule}

