= div_for story do
  .col-xs-12.col-lg-2
    .col-xs-6.col-lg-12
      .form-group
        %a.button.primary.btn-block Remove?
    .col-xs-6.col-lg-12
      .form-group
        %a.button.primary.btn-block Favorite?
  .col-xs-12.col-lg-10
    .panel.panel-default
      .panel-heading
        .row
          .col-xs-12
            %strong= story.lead
      .panel-body
        %p.lead
          = story.body.html_safe
      .panel-footer
        .row
          .col-xs-6.col-sm-4.col-md-3.col-lg-2
            = link_to "Tweed It!", edit_story_path(story), class: "button primary"

