= div_for story do
  .col-xs-12.col-lg-2
    %p.lead Icons
    %p.lead Actions
  .col-xs-12.col-lg-10
    .panel.panel-default
      .panel-heading
        .row
          .col-xs-12.col-md-8
            %strong= story.lead
          .col-xs-12.col-md-4
            = link_to "Tweed It!", story, class: "btn btn-info btn-block"
      .panel-body
        %p.lead
          = story.body.html_safe
