- @stories.each do |date, stories|
  .row
    .col-xs-12
      %p.lead= date
    .col-xs-12
      = render partial: "story", collection: stories

%button.button.primary.btn-lg{"data-target" => "#modal", "data-toggle" => "modal", href: new_message_path}
  Launch demo modal
= render "modal", title: t('messages.new')
