ul#story-list, ul#feed-list {
  list-style-type: none;
  margin-left: 0px;
  padding: 20px;
}

li.story, li.feed {
  padding: 10px 30px;
  margin-bottom: 7px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid $navbar-border-bottom;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  color: black;
}

li.new-feed {
  padding: 10px 0;
  margin-bottom: 10px;
}

li.story .story-body a, .setup a, .footer-links a {
  color: #F67100;
  text-decoration: none;
  border-bottom: 1px dotted #F67100;
}

li.story .story-body a:hover, .setup a:hover {
  color: #F59745;
  border-bottom: 1px dotted #F59745;
}

li.story.read {
  opacity: 0.5;
}

li.story.open {
  opacity: 1.0;
}

li.story.open .story-preview {
  border-bottom: 2px solid #FAF2E5;
}

.story-preview , .feed-line{
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltip {
  white-space: pre-wrap;
}

.blog-title, .feed-title {
  text-align: left;
  margin-left: 10px;
  overflow: hidden;
}

.story-lead {
  color: #e5e5e5;
}

.story-published {
  margin-left: 20px;
}

.story-keep-unread, .story-starred  {
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 20px;
}

.story-preview .story-starred {
  width: 13px;
  float: left;
  margin-left: 10px;
  margin-right: 13px;
}

li.story .icon-star {
  color: #F67100;
}

li.story .icon-star-empty {
  color: #e5e5e5;
}

.story-body {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.story-body h1, .story-body h2, .story-body h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.6;
}

.story-body h1 {
  font-size: 26px;
  margin-bottom: 13px;
}

li.story .story-body h1 a {
  border: none;
  color: #484948;
}

li.story .story-body h1 a:hover {
  border: none;
  color: #7F8281;
}

li.story.cursor {
  border: 3px solid #484948;
}

li.story .story-body-container {
  display: none;
}

li.story.open .story-body-container {
  display: block;
}

p.story-details {
  margin-right: 5px;
  overflow: hidden;
}

.story-body h2 {
  font-size: 22px;
  margin-bottom: 11px;
}

.story-body h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.story-body p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 16px;
  font-weight: 300;
}

.story-body ul {
  list-style-type: disc;
}

.story-body ul, .story-body ol {
  margin-bottom: 16px;
}

/* Wordpress hacks */
.story-body img.alignright {
  display: block;
  float: right;
  margin-left: 20px;
}

.story-body img.alignleft {
  display: block;
  float: left;
  margin-right: 20px;
}

.story-body img.aligncenter {
  display: block;
}
/* end Wordpress hacks */

.story-actions-container {
  border-top: 2px solid #FAF2E5;
  height: 28px;
  line-height: 30px;
  clear: both;
}

.story-actions {
  margin-right: 20px;
  color: #484948;
}

.story-actions a {
  color: #484948;
  text-decoration: none;
}

.story-actions a:hover, .story-actions a:focus {
  color: #7F8281;
}

li.feed .feed-line {
  cursor: default;
}

li.feed .feed-title {
  display: inline-block;
  margin-left: 0px;
}

li.feed .feed-title a {
  color: #484948;
  text-decoration: none;
}

li.feed .feed-unread {
  font-weight: bold;
}

li.feed .feed-title a:hover {
  color: #7F8281;
}

li.feed .feed-title-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li.feed .feed-last-updated {
  text-align: right;
}

li.feed .last-updated {
  font-size: 10px;
}

li.feed .last-updated-time {
  width: 100px;
  display: inline-block;
}

li.feed .edit-feed {
  cursor: pointer;
}

li.feed .edit-feed a {
  text-align: right;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
  color: #000;
}

li.feed .remove-feed {
  cursor: pointer;
}

li.feed .remove-feed a {
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
  color: #C0392B;
}

li.feed .remove-feed a:hover {
  color: #E74C3C;
}

#zen {
  text-align: center;
}

#zen p {
  font-size: 50px;
  line-height: 50px;
}

#zen p small {
  font-size: 20px;
}

#zen #zero {
  font-size: 144px;
}

#zen #gtfo {
  color: #F59745;
  font-weight: bold;
}

.orange {
  color: #F67100;
}

#add-feed-container {
  padding-top: 10px;
}
