nav.navbar-tweed {
  @include navbar-variant();
  margin-bottom: 0px;
  border-radius: 0px;
  min-height: 80px;
  border: {
    left: none;
    right: none;
    top: none;
    bottom: solid 1px $navbar-border-bottom;
  }
}

a.navbar-brand {
  padding: 30px 15px;
}

.nav-justified.content-navigation {
  > li > a {
    font-size: 20px;
    padding: 20px;
    border-top: none;
    border-radius: 0px;
    @media (max-width: $screen-sm-min) {
      padding: 0;
      border-bottom: 1px solid;
    }
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border-top: none;
    border-radius: 0px;
  }

  li:first-child > a {
    border-left: none !important;
  }
  li:last-child > a {
    border-right: none !important;
  }
}

.dropdown-menu {
  top: 116%;
}

.navbar-toggle {
  padding: 15px 10px;
  margin-top: 16px;
}