$brand-primary: #046E92;
$border-outline-color: $brand-primary;
$navbar-border-bottom: $brand-primary;
$column-left-border: $brand-primary;
$column-right-border: $brand-primary;
$nav-tabs-border-color: $brand-primary;
$nav-tabs-justified-link-border-color: $brand-primary;

.brand-background {
  background: $brand-primary;
}

.brand-color {
  color: $brand-primary;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//$nav-tabs-justified-active-link-border-color:;
//$border-radius-base: 0px;

@charset 'utf-8';

@import "font-awesome";
@import "imports";

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

@import "wtf_forms";
@import "navbar_variant";
@import "navigation";
@import "icons";
@import "list_groups";

