$navbar-border-bottom: #046E92;
$column-left-border: $navbar-border-bottom;
$column-right-border: $navbar-border-bottom;
$nav-tabs-border-color: $navbar-border-bottom;
$nav-tabs-justified-link-border-color: $navbar-border-bottom;

.brand-background {
  background: $navbar-border-bottom;
}

.brand-color {
  color: $navbar-border-bottom;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
//$nav-tabs-justified-active-link-border-color:;
//$border-radius-base: 0px;

@charset 'utf-8';

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

@import "font-awesome";
@import "imports";
@import "forms";
@import "navbar_variant";
@import "navigation";
@import "icons";
@import "list_groups";

