.row
  .col-xs-12.col-lg-9
    %ul.nav.nav-tabs.nav-justified.content-navigation{role: "content_navigation"}
      %li
        %a{href: "#"} Content
      %li
        %a{href: "#"} Schedule
      %li
        %a{href: "#"} Help
      %li
        %a{href: "#"} Settings
