%ul.nav.nav-tabs.nav-justified.content-navigation{role: 'content_navigation'}
  %li{class: ('active' if current_page?(messages_path))}
    = link_to 'Content', messages_path
  %li{class: ('active' if current_page?(stories_path))}
    = link_to 'Stories', stories_path
  %li{class: ('active' if current_page?(feeds_path))}
    = link_to 'Feeds', feeds_path
  %li
    %a{href: '#'} Schedule
  %li{class: ('active' if current_page?(edit_user_registration_path))}
    = link_to 'Settings', edit_user_registration_path
