%nav.navbar.navbar-default{role: "navigation"}
  .col-xs-12.col-lg-8.col-lg-offset-2
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#settings-navbar-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "/"} Tweed
      #settings-navbar-collapse.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            %button.button.primary.navbar-btn{href: "#"} Upgrade!
          %li
            %button.button.link.navbar-btn{href: "#"} Help
          %li.dropdown
            %button.button.link.navbar-btn.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              My Account
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href: "#"} Email Settings
              %li
                = link_to 'Access & Password', edit_user_registration_path
              %li
                = link_to "Upgrade!", "#"
              %li.divider
              %li
                = link_to 'Logout', destroy_user_session_path, :method => :delete